{% extends '_current_base.html' %}

{% block title %}Track Features | SpotifyTools{% endblock %}

{% block current_content %}
<div class="list">
    <h2>Current Track Features</h2>
    <ol>
        {% if current_track_features_human_readable | length %}
        {% for feature in current_track_features_human_readable %}
        <li><img src="{{feature['icon']}}" alt="{{feature['name']}} icon"
                class="inline-icon invert-color">{{feature['name']}}: {{feature['value']}}</li>
        {% endfor %}
        {% else %}
        <li>No features available from Spotify</li>
        {% endif %}
    </ol>
</div>
{% endblock %}