html {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; }

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 0px;
    width: 100%;
    font-family: sans-serif;
    background-color: black;
    color: white; }

    a, p {
      color: white;
      padding: 0;
      margin: 0;
      font-size: 16px; }

      .navi {
        margin: 0 0 10px 0;
        padding: 0px;
        width: 100%;
        background: linear-gradient(to bottom, #1db954, black); }
        .navi ul {
          margin: 0px;
          padding: 12px;
          list-style: none;
          display: flex;
          justify-content: space-between; }
          .navi a {
            color: white;
            font-size: 20px;
            font-weight: bold; }

.page-heading {
  margin-left: 20%;
  font-size: 40px; }

  .body-content {
    width: 100%;
    margin-top: 3px;
    display: flex;
    flex-direction: column; }

    .centered {
      display: flex;
      padding-top: 100px;
      flex-direction: column;
      align-items: center;
      justify-content: center; }

      .inline-icon {
        height: 1em;
        margin: 5px; }

        .button-row {
          margin: 0 3px 0;
          padding: 10px 0;
          list-style: none;
          display: flex;
          justify-content: space-between; }

          .spotify-button {
            padding: 16px 14px 18px;
            color: white;
            background-color: #1db954;
            font-size: 14px;
            border-radius: 500px;
            transition-property: background-color, border-color, color, box-shadow, filter;
            transition-duration: 0.3s;
            border-width: 0;
            letter-spacing: 2px;
            min-width: 160px;
            text-transform: uppercase;
            white-space: normal;
            font-weight: 700;
            touch-action: manipulation;
            cursor: pointer; }

            .overview-btns {
              margin-top: 70px; }
              .overview-btns .row {
                width: 100%; }
                .overview-btns .col-md-4 {
                  display: flex;
                  justify-content: center;
                  padding-bottom: 10px; }

.invert-color {
  filter: invert(100%); }

  .centered-info {
    display: flex;
    justify-content: center;
    padding: 3px;
    margin: 10px 5px; }
    .centered-info p {
      font-size: 20px; }

.content {
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start; }

  .card {
    background-color: black;
    border: 1px solid rgba(255, 255, 255, 0.125);
    width: 300px;
    margin: 10px; }
    .card:hover {
      box-shadow: 0 8px 16px 0 rgba(29, 185, 84, 0.2); }
      .card .card-img-top {
        border-radius: 0.25rem;
        height: 300px;
        object-fit: cover; }
        .card .list-group-item {
          background-color: black;
          border: 1px solid rgba(255, 255, 255, 0.125); }
          .card .list-group .icons {
            float: right; }

.progress {
  height: 3px;
  background-color: white;
  -webkit-animation: progressBar REFRESH_TIMEs linear reverse;
  animation: progressBar 30s reverse; }

  @-webkit-keyframes progressBar {
    0% {
      width: 0;   }
      100% {
        width: 100%;   }
}

@keyframes progressBar {
  0% {
    width: 0;   }
    100% {
      width: 100%;   }
}

.list {
  flex-direction: column; }

  .ranking {
    margin: 10px;
    list-style: none;
    counter-reset: rank-counter;
    padding-inline-start: 0;
    width: 350px; }
    .ranking li {
      counter-increment: rank-counter;
      background-color: rgba(29, 185, 84, 0.1);
      padding: 10px 40px;
      margin: 5px 0;
      transition: 0.5s; }
      .ranking li::before {
        content: counter(rank-counter);
        margin: 0 20px 0 0; }
        .ranking li:nth-child(1) {
          background-color: rgba(29, 185, 84, 0.4); }
          .ranking li:nth-child(2) {
            background-color: rgba(29, 185, 84, 0.3); }
            .ranking li:nth-child(3) {
              background-color: rgba(29, 185, 84, 0.2); }
    .ranking .hit-count {
      font-size: 10px;
      color: gray; }

@media (max-width: 544px) {
  .card {
    width: 100%;   }
    .list {
      width: 100%;   }
}

@media (max-width: 768px) {
  body {
    width: 100%;   }
    .spotify-button {
      padding: 10px 8px 10px;
      font-size: 12px;
      letter-spacing: 1px;
      min-width: 75px;   }
}

@media (min-width: 768px) {
  body {
    min-width: 768px;   }
    .body-content {
      min-width: 500px;   }
}
