html {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

body {
    flex-direction: column;
    margin:0px;
    padding: 0px;
    min-width: 60%;
    font-family: sans-serif;
    background-color: black;
    color: white;
}

a, p {
    color: white;
    padding: 0;
    margin: 0;
}

.navi {
    margin: 0px;
    padding:0px;
    background-color: rgb(29, 185, 84);
}

.navi ul {
    margin: 0px;
    padding: 8px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.navi a {
    color: black;
    font-size: large;
    font-weight: bold;
}

.body-content {
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.content-table {
    width: 100%;
}

.content-table thead tr{
    background-color: rgb(29, 185, 84);
    color: black;
}

.content-table th, .content-table tr {
    padding: 12px 15px;
    border: 1px solid white;
}

.content-table tbody td {
    padding: 12px 15px;
    border: 1px solid white;
}

.centered {
    display: flex;
    padding: 100px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button-left-right ul {
    margin: 0px;
    padding: 8px 0px 8px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.spotify-button{
    top: 50%; /* only for sign_in page */
    padding: 16px 14px 18px;
    color: rgb(255, 255, 255);
    background-color: rgb(29, 185, 84);
    font-size: 14px;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border-width: 0;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    touch-action: manipulation;
    cursor: pointer;
}

.genre-spotify-wiki {
    width: 100%;
    display: flex;
}

.genre-spotify-wiki .icon {
    height: 1em;
    filter: invert(100%);
}

.now-playing {
    font-size: 20px;
}

.now-playing .icon {
    height: 1.5em;
}

@media (max-width: 768px) {
    body {
        width: 100%;
    }

    .spotify-button {
        padding: 10px 8px 10px;
        font-size: 10px;
        letter-spacing: 1px;
        min-width: 75px;
    }
}