<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-core/11.0.0/css/fabric.min.css" />
    {% assets "scss_all" %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/main.css') }}">
    {% endassets %}
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/main.scss') }}"> -->
    <link rel="icon" type="image/png" href="static/images/favicon.svg">
    {% block head %}{% endblock %}
</head>

<body>
    <header>
        <ul>
            <!-- <li><a href="/" id="sidebarCollapse"><i class="ms-Icon ms-Icon--GlobalNavButton" aria-hidden="false"></i></a></li> -->
            <li><a href="/"><i class="ms-Icon ms-Icon--Home" aria-hidden="false"></i></a></li>
            <li><a href="/sign-out"><i class="ms-Icon ms-Icon--SignOut" aria-hidden="false"></i></a></li>
        </ul>
    </header>

    <div class="body-content">
        {% block body %}{% endblock %}
    </div>

    <!-- <footer>
        <ul>
            <p>Author: Phape</p>
            <li><img src="/static/images/company_logos/spotify.svg" alt="" class="inline-icon invert-color"></li>
        </ul>
    </footer> -->
</body>

</html>