<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    {% assets "scss_all" %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/main.css') }}">
    {% endassets %}
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/main.scss') }}"> -->
    <link rel="icon" type="image/png" href="static/images/favicon.svg">
    {% block head %}{% endblock %}
</head>

<body>
    <div class="navi">
        <ul>
            <li><a href="/" class="home-button">&#8962; Home</a></li>
            <li><a href="/sign-out" class="sign-out-button">Sign out</a></li>
        </ul>
    </div>
    <div class="body-content">
        {% block body %}{% endblock %}
    </div>
</body>

</html>