{% macro auto_refresh(refresh_after_seconds) %}
{% if refresh_after_seconds %}
<meta http-equiv="refresh" content='{{refresh_after_seconds}}'>
<script>
    function change() {
        document.getElementById("progress_bar").style.webkitAnimation = 'progressBar {{refresh_after_seconds}}s linear reverse'
    }
    window.setTimeout(change, 0);
</script>
{% endif %}
{% endmacro %}

{% macro track_name_centered_info(current_track_name) %}
<div class="centered-info">
    <p>
        <img src="/static/images/equalizer-3.svg" alt="animated equalizer, now playing:" class="inline-icon">
        {{current_track_name}}
    </p>
</div>
{% endmacro %}