{% extends '_base.html' %}

{% block head %}
<title>Track Features | SpotifyTools</title>
{% if refresh_after_seconds %}
<meta http-equiv="refresh" content='{{refresh_after_seconds}}'>
<script>
    function change() {
        document.getElementById("progress_bar").style.webkitAnimation = 'progressBar {{refresh_after_seconds}}s linear reverse'
    }
    window.setTimeout(change, 0);
</script>
{% endif %}
{% endblock %}

{% block body %}
{% if refresh_after_seconds %}
<span class="progress" id="progress_bar"></span>
{% endif %}

<div class="button-row">
    <a href="/toggle-auto-refresh?next=current-track-features"><button class="spotify-button">toggle auto
            refresh</button></a>
    <a href="/current-track-features"><button class="spotify-button">refresh</button></a>
</div>

<div class="centered-info">
    <p>
        <img src="/static/images/equalizer-3.svg" alt="animated equalizer, now playing:" class="inline-icon">
        {{current_track_name}}
    </p>
</div>


<div class="content">
    <!-- <div class="list">
        <ol>
            {% if current_track_features | length %}
            {% for feature, value in current_track_features[0].items() %}
            <li>{{feature}}: {{value}}</li>
            {% endfor %}
            {% else %}
            <li>No features available from Spotify</li>
            {% endif %}
        </ol>
    </div> -->

    <div class="list">
        <ol>
            {% if current_track_features_human_readable | length %}
            {% for feature in current_track_features_human_readable %}
            <li><img src="{{feature['icon']}}" alt="{{feature['name']}} icon" class="inline-icon invert-color">{{feature['name']}}: {{feature['value']}}</li>
            {% endfor %}
            {% else %}
            <li>No features available from Spotify</li>
            {% endif %}
        </ol>
    </div>
</div>
{% endblock %}