{% extends '_base.html' %}

{% block head %}
<meta http-equiv="refresh" content='{{refresh_after_seconds}}'>
<title>Current Genres | SpotifyTools</title>
{% if refresh_after_seconds %}
<script>
    function change() {
        document.getElementById("progress_bar").style.webkitAnimation = 'progressBar {{refresh_after_seconds}}s linear reverse'
    }
    window.setTimeout(change, 0);
</script>
{% endif %}
{% endblock %}

{% block body %}
{% if refresh_after_seconds %}
<span class="progress" id="progress_bar"></span>
{% endif %}

<div class="button-row">
    <form action="/current_genres" method="post">
        <input type="submit" name="auto_refresh_button" , value="toggle auto refresh" class="spotify-button">
    </form>

    <a href="/current_genres"><button class="spotify-button">refresh</button></a>
</div>

<div class="centered-info">
    <p>
        <img src="/static/images/equalizer-3.svg" alt="animated equalizer, now playing:" class="inline-icon">
        {{current_track_name}}
    </p>
</div>


<div class="content">
    {% for artist in current_artists['artists'] %}
    <div class="card">
        <img class="card-img-top" src="{{artist['images'][1]['url']}}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{artist['name']}}</h5>
            <p>
                <script type="text/javascript">
                    var num = new Number("{{artist['followers']['total']}}");
                    document.write("Followers: ", num.toLocaleString()); 
                </script>
            </p>
            <p class="card-text">Popularity: {{artist['popularity']}}</p>
        </div>
        <ul class="list-group list-group-flush">
            {% if artist['genres']|length %}
            {% for genre in artist['genres'] %}
            <li class="list-group-item">{{genre}}
                <div class="icons">
                    <a href='spotify:search:genre:"{{genre}}"' target="spotify-tab"><img src="static/images/spotify.svg"
                            alt="spotify icon" class="inline-icon invert-color"></a>
                    <a href="https://en.wikipedia.org/wiki/{{genre}}" target="wiki-tab"><img src="/static/images/wiki.svg"
                            alt="wiki logo" class="inline-icon invert-color"></a>
                    <a href="https://www.urbandictionary.com/define.php?term={{genre}}" target="ud-tab"><img
                            src="/static/images/ud.svg" alt="urban dictionary logo" class="inline-icon"></a>
                </div>
            </li>
            {% endfor %}
            {% else %}
            <li class="list-group-item">Spotify currently has no genres listed for {{artist['name']}}.</li>
            {% endif %}
        </ul>
        <div class="card-body">
            <a href="{{artist['uri']}}" class="card-link" target="spotify-tab"><img src="static/images/spotify.svg"
                    alt="spotify icon" class="inline-icon invert-color"> Artist</a>
            <a href="https://en.wikipedia.org/wiki/{{artist['name']}}" class="card-link" target="wiki-tab"><img
                    src="/static/images/wiki.svg" alt="wiki logo" class="inline-icon invert-color"> Artist</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}