{% extends '_base.html' %}
{% block head %}
<meta http-equiv="refresh" content="15">
<title>Found Genres</title>
{% endblock %}
{% block body %}
<p>Name of Current Track: {{current_track_name}}</p>
<table class="content-table">
    <thead>
        <tr>
            <th>Artist</th>
            <th>Genres</th>
        </tr>
    </thead>
    <tbody>
        {% for artist in current_artists['artists'] %}
        <tr>
            <td><a href="{{artist['external_urls']['spotify']}}" target="blank">{{artist['name']}}</a></td>
            <td>
                {% if artist['genres']|length %}
                <ul>
                    {% for genre in artist['genres'] %}
                    <li>{{genre}}</li>
                    {% endfor %}
                </ul>
                {% else %}
                <p>Spotify currently has no genres listed for {{artist['name']}}.</p>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}