{% extends '_base.html' %}
{% block head %}
<meta http-equiv="refresh" content='{{refresh_after_seconds}}'>
<title>Current Genres | SpotifyTools</title>
{% endblock %}
{% block body %}
<div class="button-left-right">
    <ul>
        <li>
            <form action="/current_genres" method="post">
                <input type="submit" name="auto_refresh_button" , value="toggle auto refresh" class="spotify-button">
            </form>
        </li>
        <li><a href="/current_genres"><button class="spotify-button">refresh</button></a></li>
    </ul>
</div>
{% if refresh_after_seconds %}
<p>This page reloads every {{refresh_after_seconds}} seconds.</p>
{% endif %}
<div class="now-playing">
    <p><img src="/static/images/equalizer-3.svg" alt="animated equalizer, now playing:" class="icon">
        {{current_track_name}}</p>
</div>
<table class="content-table">
    <thead>
        <tr>
            <th>Artist</th>
            <th>Genres</th>
        </tr>
    </thead>
    <tbody>
        {% for artist in current_artists['artists'] %}
        <tr>
            <td>
                <!-- <a href="{{artist['uri']}}" target="blank">{{artist['name']}}</a> -->
                <div class="row">
                    <p class="col-6 col-lg-8">{{artist['name']}}</p>
                    <a href="{{artist['uri']}}" class="col-3 col-lg-2" target="blank"><img src="static/images/spotify.svg"
                            alt="spotify icon" class="inline-icon-invert-color"></a>
                    <a href="https://en.wikipedia.org/wiki/{{artist['name']}}" class="col-3 col-lg-2" target="_blank"><img
                            src="/static/images/wiki.svg" alt="wiki logo" class="inline-icon-invert-color"></a>
                </div>
            </td>
            <td>
                {% if artist['genres']|length %}
                {% for genre in artist['genres'] %}
                <div class="row">
                    <p class="col-8 col-lg-10">{{genre}}</p>
                    <a href="spotify:search:genre:{{genre}}" class="col-2 col-lg-1" target="blank"><img
                            src="static/images/spotify.svg" alt="spotify icon" class="inline-icon-invert-color"></a>
                    <a href="https://en.wikipedia.org/wiki/{{genre}}" class="col-2 col-lg-1" target="_blank"><img
                            src="/static/images/wiki.svg" alt="wiki logo" class="inline-icon-invert-color"></a>
                </div>
                {% endfor %}
                {% else %}
                <p>Spotify currently has no genres listed for {{artist['name']}}.</p>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}