{% extends '_base.html' %}

{% block head %}
<title>SpotifyTools</title>
{% endblock %}

{% block body %}
<h1 class="page-heading">Nice to see you, {{spotify_me['display_name']}}!</h1>

<div class="content">
    <a href="current-genres"><img src="/static/images/homepage_icons/current_genres.svg" alt="Genres of current Track" class="homepage-tab"></a>
    <a href="current-features"><img src="/static/images/homepage_icons/current_features.svg" alt="Features of current Track" class="homepage-tab"></a>
    <a href="recently-played"><img src="/static/images/homepage_icons/recently_played.svg" alt="Recently played Tracks" class="homepage-tab"></a>
    <a href="top-artists"><img src="/static/images/homepage_icons/top_artists.svg" alt="Your most listened Artists" class="homepage-tab"></a>
    <a href="top-tracks"><img src="/static/images/homepage_icons/top_tracks.svg" alt="Your most listened Tracks" class="homepage-tab"></a>
</div>
{% endblock %}