{% extends '_base.html' %}

{% block head %}
<title>Home | SpotifyTools</title>
{% endblock %}

{% block body %}
<h1 class="page-heading">Hi {{spotify.me()['display_name']}}</h1>

<div class="overview-btns">
    <div class="row">
        <div class="col-md-4">
            <input type="button" onclick="location.href='/current-genres';" value="Genres Of Current Track"
                class="spotify-button" />
        </div>
        <div class="col-md-4">
            <input type="button" onclick="location.href='/top-tracks';" value="My Top Tracks" class="spotify-button" />
        </div>
        <div class="col-md-4">
            <input type="button" onclick="location.href='/top-artists';" value="My Top Artists"
                class="spotify-button" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <input type="button" onclick="location.href='/current-track-features';" value="Features Of Current Track"
                class="spotify-button" />
        </div>
        <div class="col-md-4">
            <input type="button" onclick="location.href='/recently-played';" value="Recently Played Tracks"
                class="spotify-button" />
        </div>
    </div>
</div>
{% endblock %}