{% extends '_base.html' %}

{% block head %}
<title>Home | SpotifyTools</title>
{% endblock %}

{% block body %}
<h1 class="page-heading">My Top Artists</h1>

<div class="button-row">
    <a href="/top_artists?time_range=short_term"><button class="spotify-button">Last 4 Weeks</button></a>
    <a href="/top_artists?time_range=medium_term"><button class="spotify-button">Last 6 Months</button></a>
    <a href="/top_artists?time_range=long_term"><button class="spotify-button">Total</button></a>
</div>

<div class="centered-info">
    <p>Viewing results for time range: {{ chosen_time_range }}</p>
</div>

<div class="content">
    <div class="list">
        <h2>Top Artists</h2>
        <ol class="ranking">
            {% for artist in top_artists['items'] %}
            <li>{{ artist['name'] }}</li>
            {% endfor %}
        </ol>
    </div>

    <div class="list">
        <h2>Genres of those Artists</h2>
        <ol class="ranking">
            {% for genre, hit_count in genre_rank %}
            <li>{{ genre }} <span class="hit-count">({{ hit_count }}x)</span></li>
            {% endfor %}
        </ol>
    </div>
</div>

{% endblock %}