# Create a virtual environment, then
# Install with
# pip install -r requirements.txt
# If you want to update all reqirements:
# pip3 install --upgrade --force-reinstall -r requirements.txt
flask
flask_session
flask_assets
flask_sqlalchemy
libsass
spotipy
beautifulsoup4
wikipedia
Wikipedia-API
python-dotenv